@import "tailwindcss";

@font-face {
  font-family: "Proxima";
  src: url(../public/fonts/proxima.otf);
}
@font-face {
  font-family: "ProximaBold";
  src: url(../public/fonts/proximabold.otf);
}
*{
  font-family: "Proxima";
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

#boardFrame{
  
  border:3px solid rgba(255,255,255,.95);
  
}

.title{
  font-family: "ProximaBold" !important;
}

.fkdk{
  font-family: "Proxima" !important;
}